In [7]:
import pandas as pd
# Lê arquivo CSV
df = pd.read_csv('Unidades_da_Rede_Federal_de_EPCT.csv')

# Mostra as 5 primeiras linhas do DataFrame
df.head()

,sigla_unidade_ensino,nome_unidade_ensino,dt_autorizacao,sigla_uf_unidade_ensino,nome_municipio_unidade_ensino
0,NaN,ASSOCIAÇÃO TÉCNICO EDUCACIONAL EQUIPE,03/02/2015 17:31:40,RS,Sapucaia do Sul
1,NaN,CEFET DO MARANHAO,14/02/2014 19:44:56,MA,Tutóia
2,NaN,CEFET MG CAMPUS II,23/06/2010 14:27:47,MG,Belo Horizonte
3,NaN,CEFET-MG/campusV/Divinópolis,06/04/2009 08:07:15,MG,Divinópolis
4,NaN,CEFET - MG UNED contagem,21/03/2012 16:58:14,MG,Contagem

In [8]:
# Conta quantas entradas tem em cada coluna
df.count()

sigla_unidade_ensino             794
nome_unidade_ensino              977
dt_autorizacao                   977
sigla_uf_unidade_ensino          977
nome_municipio_unidade_ensino    977
dtype: int64

In [5]:
# Descreve as colunas numéricas
df.describe()

,sigla_unidade_ensino,nome_unidade_ensino,dt_autorizacao,sigla_uf_unidade_ensino,nome_municipio_unidade_ensino
count,794,977,977,977,977
unique,58,964,976,27,726
top,IFMG,CENTRO FEDERAL DE EDUCAÇÃO TÉCNOLOGICA DE MINA...,21/11/2008 09:17:36,MG,Rio de Janeiro
freq,85,3,2,205,25

In [6]:
# Mostra os tipos de cada coluna do DataFrame
df.dtypes

sigla_unidade_ensino             object
nome_unidade_ensino              object
dt_autorizacao                   object
sigla_uf_unidade_ensino          object
nome_municipio_unidade_ensino    object
dtype: object

In [10]:
# Conta quantas unidades de ensino existem em cada UF
df['sigla_uf_unidade_ensino'].value_counts()

MG    205
RJ     70
RS     66
SP     61
PR     60
CE     47
BA     44
SC     42
MA     32
PI     32
PE     31
GO     30
RN     29
PB     28
PA     26
ES     23
MT     23
AM     22
AL     21
DF     20
SE     12
TO     11
MS     11
RO     10
AC      7
RR      7
AP      7
Name: sigla_uf_unidade_ensino, dtype: int64