## Análise dos dados de reembolso dos senadores - 2018

In [1]:
# Importando Bibliotecas
import pandas as pd

In [13]:
df = pd.read_csv('2018.csv', sep=';', encoding='latin1', skiprows=1, decimal=',')

df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2018,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,NaN,02/01/2018,Despesa com pagamento de aluguel de imóvel par...,6000.00,2088462
1,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,M2CJMM,02/01/2018,"Companhia Aérea: AVIANCA, Localizador: M2CJMM....",274.99,2088476
2,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,SFEXYF,02/01/2018,"Companhia Aérea: LATAM, Localizador: SFEXYF. P...",1094.29,2088528
3,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,V64HTR,24/01/2018,"Companhia Aérea: AZUL, Localizador: V64HTR. Pa...",1553.99,2088475
4,2018,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,002/18,01/02/2018,Despesa com pagamento de aluguel de imóvel par...,6000.00,2088477

In [14]:
# Verificando tamanho e tipo de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24492 entries, 0 to 24491
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                24492 non-null  int64
 1   MES                24492 non-null  int64
 2   SENADOR            24492 non-null  object
 3   TIPO_DESPESA       24492 non-null  object
 4   CNPJ_CPF           24492 non-null  object
 5   FORNECEDOR         24492 non-null  object
 6   DOCUMENTO          23476 non-null  object
 7   DATA               24492 non-null  object
 8   DETALHAMENTO       18882 non-null  object
 9   VALOR_REEMBOLSADO  24492 non-null  float64
 10  COD_DOCUMENTO      24492 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 2.1+ MB

In [15]:
# Análise quantitativa dos dados do dataframe
df.describe()

           ANO           MES  VALOR_REEMBOLSADO  COD_DOCUMENTO
count  24492.0  24492.000000       24492.000000   2.449200e+04
mean    2018.0      6.192226        1045.431215   2.100346e+06
std        0.0      3.305847        2718.840577   7.881637e+03
min     2018.0      1.000000           0.010000   2.085892e+06
25%     2018.0      3.000000         125.000000   2.093630e+06
50%     2018.0      6.000000         287.200000   2.100348e+06
75%     2018.0      9.000000        1032.005000   2.107072e+06
max     2018.0     12.000000      103900.000000   2.118038e+06

In [16]:
# Os maiores valores reembolsado

df.nlargest(5, 'VALOR_REEMBOLSADO')

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
21225,2018,12,ROSE DE FREITAS,Divulgação da atividade parlamentar,05.461.408/0001-84,Grafitusa S/A,000009681,29/03/2019,NaN,103900.0,2118038
21488,2018,11,SÉRGIO PETECÃO,"Contratação de consultorias, assessorias, pesq...",22.233.033/0001-14,Reis Grafica e Comercio de Etiquetas Eireli ME,4193,29/11/2018,NaN,102000.0,2111449
21491,2018,12,SÉRGIO PETECÃO,"Contratação de consultorias, assessorias, pesq...",22.233.033/0001-14,Reis Grafica e Comercio de Etiquetas Eireli ME,000004252,17/12/2018,NaN,102000.0,2115868
22666,2018,12,VANESSA GRAZZIOTIN,"Contratação de consultorias, assessorias, pesq...",28.916.527/0001-80,A MAQUINA SOLUCOES EM MIDIA LTDA ME,048,17/12/2018,TRABALHOS TÉCNICOS DE APOIO AO EXERCICIO DO MA...,100000.0,2112135
5573,2018,12,EDUARDO LOPES,Divulgação da atividade parlamentar,14.616.988/0001-22,NG Comunicação Visual Ltda,00000714,05/12/2018,NaN,66000.0,2110802

In [39]:
# Transpões os eixos
df.nlargest(5, 'VALOR_REEMBOLSADO').T

,21225,21488,21491,22666,5573
ANO,2018,2018,2018,2018,2018
MES,12,11,12,12,12
SENADOR,ROSE DE FREITAS,SÉRGIO PETECÃO,SÉRGIO PETECÃO,VANESSA GRAZZIOTIN,EDUARDO LOPES
TIPO_DESPESA,Divulgação da atividade parlamentar,"Contratação de consultorias, assessorias, pesq...","Contratação de consultorias, assessorias, pesq...","Contratação de consultorias, assessorias, pesq...",Divulgação da atividade parlamentar
CNPJ_CPF,05.461.408/0001-84,22.233.033/0001-14,22.233.033/0001-14,28.916.527/0001-80,14.616.988/0001-22
FORNECEDOR,Grafitusa S/A,Reis Grafica e Comercio de Etiquetas Eireli ME,Reis Grafica e Comercio de Etiquetas Eireli ME,A MAQUINA SOLUCOES EM MIDIA LTDA ME,NG Comunicação Visual Ltda
DOCUMENTO,000009681,4193,000004252,048,00000714
DATA,29/03/2019,29/11/2018,17/12/2018,17/12/2018,05/12/2018
DETALHAMENTO,NaN,NaN,NaN,TRABALHOS TÉCNICOS DE APOIO AO EXERCICIO DO MA...,NaN
VALOR_REEMBOLSADO,103900,102000,102000,100000,66000
COD_DOCUMENTO,2118038,2111449,2115868,2112135,2110802

In [41]:
# Os 5 menores reembolsos
df.nsmallest(15, 'VALOR_REEMBOLSADO')

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
3868,2018,5,DÁRIO BERGER,"Passagens aéreas, aquáticas e terrestres nacio...",02.575.829/0001-48,AVIANCA BRASIL,K5RKJV,29/05/2018,"Companhia Aérea: AVIANCA, Localizador: K5RKJV....",0.01,2098074
10161,2018,3,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,W4UUE7,21/03/2018,"Companhia Aérea: LATAM, Localizador: W4UUE7. P...",0.01,2093494
10191,2018,4,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",07.575.651/0001-59,GOL TRANSPORTES AÉREOS S/A,ZHV36P,09/03/2018,"Companhia Aérea: GOL, Localizador: ZHV36P. Pas...",0.01,2093484
10196,2018,4,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,W6ZMK3,17/04/2018,"Companhia Aérea: LATAM, Localizador: W6ZMK3. P...",0.01,2112029
10233,2018,5,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,OZALEF,22/05/2018,"Companhia Aérea: LATAM, Localizador: OZALEF. P...",0.01,2100068
10261,2018,6,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,DZHABV,22/05/2018,"Companhia Aérea: LATAM, Localizador: DZHABV. P...",0.01,2113685
10383,2018,11,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,ZZIIXN,13/11/2018,"Companhia Aérea: LATAM, Localizador: ZZIIXN. P...",0.01,2110004
12870,2018,6,LASIER MARTINS,"Passagens aéreas, aquáticas e terrestres nacio...",07.575.651/0001-59,GOL,GJR89G,16/05/2018,"Companhia Aérea: GOL, Localizador: GJR89G. Pas...",0.03,2098737
21209,2018,11,ROSE DE FREITAS,"Aluguel de imóveis para escritório político, c...",31.823.651/0001-05,Paulo Sardenberg Imóveis LTDA - EPP,3600341,26/09/2018,NaN,0.03,2109757
1713,2018,8,ANTÔNIO CARLOS VALADARES,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,Adria Viagens e Turismo LTDA.,W5LR6K,24/08/2018,"Companhia Aérea: AVIANCA, Localizador: W5LR6K....",0.18,2106124
18402,2018,12,RENAN CALHEIROS,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,ÁDRIA VIAGENS E TURISMO - GR,TLQ7Q5,06/12/2018,"Companhia Aérea: AVIANCA, Localizador: TLQ7Q5....",0.20,2113349
6663,2018,7,FERNANDO BEZERRA COELHO,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,AZUL,KGMCHN,27/07/2018,"Companhia Aérea: AZUL, Localizador: KGMCHN. Pa...",0.30,2102120
24478,2018,12,ZEZÉ PERRELLA,"Aluguel de imóveis para escritório político, c...",06.981.180/0001-16,Cemig Distribuição S/A,s/n,26/12/2018,NaN,2.83,2113374
14937,2018,12,MARTA SUPLICY,"Aluguel de imóveis para escritório político, c...",40.432.544/0001-47,NET,S/N,28/12/2018,REFERENTE AO SERVIÇOS DE INTERNET DO ESCRITORI...,2.97,2112743
16780,2018,4,PAULO ROCHA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,THSX47,05/04/2018,"Companhia Aérea: LATAM, Localizador: THSX47. P...",4.00,2096526

In [19]:
# Qual o valor total de reembolso
df['VALOR_REEMBOLSADO'].sum().astype(int)

25604701

In [20]:
# Quantos reembolsos cada senador solicitou?
df['SENADOR'].value_counts()

EDUARDO LOPES          864
PAULO BAUER            824
WELLINGTON FAGUNDES    800
JOSÉ SERRA             715
GLEISI HOFFMANN        653
                      ...
ALVARO DIAS             40
FERNANDO COLLOR         27
JADER BARBALHO          19
CRISTOVAM BUARQUE       16
ZÉ SANTANA               8
Name: SENADOR, Length: 91, dtype: int64

In [30]:
df_agg = df.groupby(['SENADOR']).agg({'VALOR_REEMBOLSADO':sum})

In [31]:
g = df_agg['VALOR_REEMBOLSADO'].groupby(level=0, group_keys=False)

In [35]:
g.nlargest(30)

SENADOR
ACIR GURGACZ           317797.29
AIRTON SANDOVAL        308350.35
ALVARO DIAS             44037.88
ANA AMÉLIA             147226.50
ANTONIO ANASTASIA      277230.59
                         ...
WELLINGTON FAGUNDES    417778.67
WILDER MORAIS          159069.64
ZEZÉ PERRELLA          312714.95
ZÉ SANTANA              23300.67
ÂNGELA PORTELA         485806.44
Name: VALOR_REEMBOLSADO, Length: 91, dtype: float64

In [38]:
# Quanto cada Senador solicitou de reembolso em 2018?
df.groupby('SENADOR')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)[0:30]

SENADOR
EDUARDO BRAGA                    529599.18
VANESSA GRAZZIOTIN               515969.63
JOÃO CAPIBERIBE                  513333.90
ÂNGELA PORTELA                   485806.44
OMAR AZIZ                        484143.98
CIRO NOGUEIRA                    455942.09
ROMERO JUCÁ                      454526.97
GLADSON CAMELI                   443981.70
FERNANDO COLLOR                  435944.08
JORGE VIANA                      430121.30
JOÃO ALBERTO SOUZA               429438.67
HUMBERTO COSTA                   427887.25
GARIBALDI ALVES FILHO            418031.85
WELLINGTON FAGUNDES              417778.67
PAULO PAIM                       415787.11
ARMANDO MONTEIRO                 415294.82
JOSÉ MEDEIROS                    411414.35
PAULO ROCHA                      405973.91
JOSÉ PIMENTEL                    405661.25
FLEXA RIBEIRO                    405371.13
VALDIR RAUPP                     405234.22
CÁSSIO CUNHA LIMA                398600.17
MAGNO MALTA                      397409.37
ROBERTO ROCHA                    386876.10
LINDBERGH FARIAS                 379909.54
PEDRO CHAVES DOS SANTOS FILHO    379386.06
ROSE DE FREITAS                  378182.77
RAIMUNDO LIRA                    375386.72
RANDOLFE RODRIGUES               373214.08
FERNANDO BEZERRA COELHO          367535.16
Name: VALOR_REEMBOLSADO, dtype: float64

In [42]:
# Quais os tipos de despesa mais reembolsados?
df['TIPO_DESPESA'].value_counts()

Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   10147
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                  5820
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                            5042
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.      1761
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                               928
Divulgação da atividade parlamentar                                                                                                                                                                  750
Serviços de Segurança Privada                                                                                                                                                                         44
Name: TIPO_DESPESA, dtype: int64

In [44]:
# E por tipo de despesa, quais os maiores em valores monetários?
df.groupby('TIPO_DESPESA')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)

TIPO_DESPESA
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                 6335284.94
Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   5620092.84
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                           5041438.25
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                             4966449.41
Divulgação da atividade parlamentar                                                                                                                                                                2568910.24
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.      900312.04
Serviços de Segurança Privada                                                                                                                                                                       172213.61
Name: VALOR_REEMBOLSADO, dtype: float64