## Análise dos dados do Escolas Inteligentes
São dados do INEP disponibilizados por meio de API

Link => http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on&cozinha=on

In [4]:
# Importando Bibliotecas
import pandas as pd
import requests

# Variável para URL
url = 'http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on&cozinha=on'

# Variável para receber resposta
resposta = requests.get(url)

In [5]:
# Criando o DataFrame
df = pd.DataFrame(resposta.json()[1])
df.head()

,anoCenso,cod,nome,codCidade,cidade,estado,regiao,situacaoFuncionamento,dependenciaAdministrativa,idebAI,idebAF,enemMediaGeral,situacaoFuncionamentoTxt,dependenciaAdministrativaTxt
0,2013,41036026,BAIRRO DOS MENDES E R M EF,4104402,CANDIDO DE ABREU,PR,Sul,1,3,0.0,0.0,0.0,Em atividade,Municipal
1,2013,15008258,E M E F AGUA AZUL,1504802,MONTE ALEGRE,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
2,2013,15534340,E M E F AGUA BOA,1505650,PLACAS,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
3,2013,15525821,E M E F AMAZONIA,1505064,NOVO REPARTIMENTO,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
4,2013,15022790,E M E F AMELIA HOLANDA,1500305,AFUA,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal

In [8]:
# Tamanho do DataFrame
# df.count() 
df.shape

(100, 14)

In [9]:
# Quais estados estão estas escolas?
df['estado'].value_counts()

PA    99
PR     1
Name: estado, dtype: int64