## Análise dados Copa do Mundo
Dados obtidos do site do wikipedia, análise pelo público pagante nas finais de cada edição

Link -> https://pt.wikipedia.org/wiki/Copa_do_Mundo_FIFA

In [1]:
# Importa bibliotecas
import pandas as pd
import requests

# Aloca a url na variável URL
url = 'https://pt.wikipedia.org/wiki/Copa_do_Mundo_FIFA'

# Faz requisição à url e aloca na variável resposta
resposta = requests.get(url)

In [2]:
# Aloca a resposta do html da página na variavel table, para tratarmos posteriormente
table = pd.read_html(resposta.text)

In [3]:
# Seleciona a 12ª Tabela da resposta, que é a tabela que queremos trabalhar
df = table[11]

# Visualiza as 5 primeiras linhas do dataframe
df.head()

,Edição,Ano,Estádio,Local,Público pagante
0,I,1930,Estádio Centenário,Montevidéu,68.346
1,II,1934,Estádio do Partido Nacional Fascista,Roma,55.000
2,III,1938,Estádio Olímpico Yves-du-Manoir,Colombes,45.000
3,IV,1950,Estádio do Maracanã,Rio de Janeiro,173.850
4,V,1954,Estádio Wankdorf,Berna,62.500