## Análise dos dados da busca avançada dos ativos listados na Bolsa de Valores

Extraídos do site https://statusinvest.com.br/acoes/busca-avancada

In [1]:
import pandas as pd
%matplotlib inline

In [8]:
df = pd.read_csv('busca_acoes.csv', sep=';', encoding='utf-8')
df.head()

,TICKER,PRECO,DY,P/L,P/VP,P/ATIVOS,MARGEM BRUTA,MARGEM EBIT,MARG. LIQUIDA,P/EBIT,...,LIQ. CORRENTE,ROE,ROA,ROIC,PATRIMONIO / ATIVOS,PASSIVOS / ATIVOS,GIRO ATIVOS,CAGR RECEITAS 5 ANOS,CAGR LUCROS 5 ANOS,LIQUIDEZ MEDIA DIARIA
0,AALR3,"11,99","0,73","-16,79","1,20","0,54","17,98","0,67","-9,24","232,25",...,"0,87","-7,16","-3,23","-0,43","0,45","0,54","0,35","22,24",NaN,"10.932.437,37"
1,ABCB4,"13,44","4,83","7,57","0,72","0,06","-0,25","-5,45","6,11","-8,49",...,"0,99","9,47","0,78",NaN,"0,08","0,92","0,13","5,50","8,66","11.080.388,67"
2,ABEV3,"12,35","3,97","21,80","2,63","1,60","55,69","25,72","17,14","14,52",...,"1,24","12,06","7,34","16,10","0,61","0,38","0,43","6,67","-0,28","466.401.316,95"
3,ADHM3,"2,19",NaN,"-5,74","-1,81","147,58","100,00","-13.548,48","-18.860,61","-7,99",...,"0,00","-31,47","-2.571,90","22,61","-81,72","82,72","0,14",NaN,NaN,"60.284,72"
4,AFLT3,"10,19","6,42","27,05","2,85","2,72","64,52","61,25","61,79","27,29",...,"20,69","10,55","10,04","9,49","0,95","0,05","0,16","2,20","11,01","33.640,37"

In [9]:
df.describe()

,TICKER,PRECO,DY,P/L,P/VP,P/ATIVOS,MARGEM BRUTA,MARGEM EBIT,MARG. LIQUIDA,P/EBIT,...,LIQ. CORRENTE,ROE,ROA,ROIC,PATRIMONIO / ATIVOS,PASSIVOS / ATIVOS,GIRO ATIVOS,CAGR RECEITAS 5 ANOS,CAGR LUCROS 5 ANOS,LIQUIDEZ MEDIA DIARIA
count,529,529,289,529,529,529,502,502,502,529,...,521,529,529,479,529,529,529,470,302,452
unique,529,438,236,445,330,193,321,330,323,446,...,217,345,326,313,137,135,120,301,193,449
top,ROMI3,"0,00","0,92","0,00","0,00","0,00","100,00","-269,99","144,46","0,00",...,"1,10","4,38","0,69","-6,43","0,27","0,60","0,00","3,11","2,66","0,00"
freq,1,53,4,53,55,54,11,7,7,53,...,11,7,7,7,16,19,42,7,7,3

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529 entries, 0 to 528
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TICKER                  529 non-null    object
 1   PRECO                   529 non-null    object
 2   DY                      289 non-null    object
 3   P/L                     529 non-null    object
 4   P/VP                    529 non-null    object
 5   P/ATIVOS                529 non-null    object
 6   MARGEM BRUTA            502 non-null    object
 7   MARGEM EBIT             502 non-null    object
 8   MARG. LIQUIDA           502 non-null    object
 9   P/EBIT                  529 non-null    object
 10  EV/EBIT                 446 non-null    object
 11  DIVIDA LIQUIDA / EBIT   479 non-null    object
 12  DIV. LIQ. / PATRI.      403 non-null    object
 13  PSR                     497 non-null    object
 14  P/CAP. GIRO             522 non-null    object
 15  P. AT CIR. LIQ.         527 non-null    object
 16  LIQ. CORRENTE           521 non-null    object
 17  ROE                     529 non-null    object
 18  ROA                     529 non-null    object
 19  ROIC                    479 non-null    object
 20  PATRIMONIO / ATIVOS     529 non-null    object
 21  PASSIVOS / ATIVOS       529 non-null    object
 22  GIRO ATIVOS             529 non-null    object
 23  CAGR RECEITAS 5 ANOS    470 non-null    object
 24  CAGR LUCROS 5 ANOS      302 non-null    object
 25   LIQUIDEZ MEDIA DIARIA  452 non-null    object
dtypes: object(26)
memory usage: 107.6+ KB