## Mapa de Distorção Idade-Série Educação RS

In [2]:
# o pip permite instalar novas bibliotecas
# o ! permite a execução de linhas de comando direto pelo jupyter notebook
!pip install folium

Collecting folium
  Downloading folium-0.11.0-py2.py3-none-any.whl (93 kB)
     |████████████████████████████████| 93 kB 226 kB/s eta 0:00:01
Requirement already satisfied: requests in /home/talita/anaconda3/lib/python3.8/site-packages (from folium) (2.24.0)
Requirement already satisfied: numpy in /home/talita/anaconda3/lib/python3.8/site-packages (from folium) (1.18.5)
Requirement already satisfied: jinja2>=2.9 in /home/talita/anaconda3/lib/python3.8/site-packages (from folium) (2.11.2)
Collecting branca>=0.3.0
  Downloading branca-0.4.1-py3-none-any.whl (24 kB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/talita/anaconda3/lib/python3.8/site-packages (from requests->folium) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /home/talita/anaconda3/lib/python3.8/site-packages (from requests->folium) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/talita/anaconda3/lib/python3.8/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/talita/anaconda3/lib/python3.8/site-packages (from requests->folium) (2020.6.20)
Requirement already satisfied: MarkupSafe>=0.23 in /home/talita/anaconda3/lib/python3.8/site-packages (from jinja2>=2.9->folium) (1.1.1)
Installing collected packages: branca, folium
Successfully installed branca-0.4.1 folium-0.11.0

In [3]:
# importando bibliotecas
import pandas as pd
%matplotlib inline
import folium

In [8]:
df = pd.read_csv('taxa_distorcao_idade_serie_rs.csv', skiprows=1 , encoding='latin1')
df.head()

,Município,ibge,latitude,longitude,/Educação/Ens...de Série/Total 2013 (-)
0,Aceguá,4300034,-31.86076,-54.16706,"25,7"
1,Água Santa,4300059,-28.16720,-52.03100,"14,7"
2,Agudo,4300109,-29.64470,-53.25150,"26,4"
3,Ajuricaba,4300208,-28.23420,-53.77570,"24,1"
4,Alecrim,4300307,-27.65790,-54.76490,"18,9"

In [15]:
# Renomenando a ultima coluna
df.rename(columns={'/Educação/Ens...de Série/Total 2013 (-)': 'tx_distorcao'})

                 Município     ibge  latitude  longitude tx_distorcao
0                   Aceguá  4300034 -31.86076  -54.16706         25,7
1               Água Santa  4300059 -28.16720  -52.03100         14,7
2                    Agudo  4300109 -29.64470  -53.25150         26,4
3                Ajuricaba  4300208 -28.23420  -53.77570         24,1
4                  Alecrim  4300307 -27.65790  -54.76490         18,9
..                     ...      ...       ...        ...          ...
490  Vista Alegre do Prata  4323606 -28.80520  -51.79460          2,6
491           Vista Gaúcha  4323705 -27.29020  -53.69740         10,9
492    Vitória das Missões  4323754 -28.35160  -54.50400         26,8
493              Westfalia  4323770 -29.37440  -51.74630         15,8
494              Xangri-lá  4323804 -29.80650  -50.05190         33,3

[495 rows x 5 columns]